@import url(../common/font.css);
@import url(../common/menu.css);

* {
    padding: 0;
    margin: 0;
}

header {
    position: absolute;
    width: 100%;
    padding-top: 30px;
}

.sec-background {
    background-image: url(/src/Presentation/assets/images/desktop_thumb.png);
    background-repeat: no-repeat;
    height: 1000px;
}