@import url(../common/font.css);
@import url(../common/menu.css);
@import url(../../fontawesome-free-6.7.1/css/all.min.css);

$headerImageHeight: 906px;
$freeTrialColor: #5e59ff;
$btnRadius: 5px;

* {
	padding: 0;
	margin: 0;
}

header {
	position: absolute;
	width: 100%;
	padding-top: 30px;
	z-index: 1;

	.sec-auth {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 260px;

		.btn-sign-in {
		}

		.btn-try-for-free {
			display: flex;
			align-items: center;
			background-color: $freeTrialColor;
			border-radius: $btnRadius;
			padding: 16px 20px;

			span {
				margin-right: 10px;
			}

			&:hover {
				opacity: 0.5;
			}
		}
	}
}

main {
	.sec-background {
		background-image: url(/src/Presentation/assets/images/desktop_thumb.png);
		background-repeat: no-repeat;
		height: $headerImageHeight;

		&::after {
			content: '';
			height: $headerImageHeight;
			opacity: 0.5;
			background-color: black;
			width: 100%;
			position: absolute;
			top: 0;
		}
	}

	.sec-introduction {
		position: absolute;
		top: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: $headerImageHeight;
		align-items: center;
		color: white;
		text-align: center;
		justify-content: center;

		h1 {
			font-family: Bold;
			font-size: 54px;
		}

		p {
			font-family: 'Public Sans';
			font-size: 28px;
			font-weight: 400;
			line-height: 39.2px;
			letter-spacing: -0.74px;
			text-align: center;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
		}

		.newsletter {
			margin-top: 48px;

			.email {
				outline: 0;
				border: none;
				border-radius: 5px;
				padding: 0 25px;
				width: 520px;
				height: 60px;
				font-family: 'Public Sans';
				font-size: 14px;
			}

			.btn-free-trial {
				align-items: center;
				display: inline-flex;
				color: white;
				font-family: Bold;
				background-color: $freeTrialColor;
				border-radius: $btnRadius;
				padding: 18px 30px;
				border: none;
				outline: none;
				text-decoration: none;

				img {
					margin-left: 28px;
				}
			}
		}

		.extra-info {
			list-style-type: none;
			margin-top: 40px;
			padding: 0;
			display: flex;
			align-items: center;
			width: 814px;
			justify-content: space-between;
			max-width: 100%;

			i {
				margin-right: 8px;
			}

			span {
				font-family: 'Public Sans';
				font-size: 18px;
			}
		}
	}
}
