footer {
	height: 140px;
	background-color: #f6f6f6;

	.inner {
		height: 100%;
		align-items: center;
	}

	.social-networks {
		a {
			text-decoration: none;

			&:not(:last-child) {
				margin-right: 24px;
			}

			i {
				color: black;
				font-size: 16px;
			}
		}
	}
}
