.inner {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 135px;
}
.inner nav {
  display: flex;
  justify-content: flex-end;
}
.inner nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.inner nav ul li {
  text-transform: uppercase;
  margin-right: 25px;
}
.inner nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Normal;
}