@import url(/src/Presentation/assets/css/common/font.css);
@import url(/src/Presentation/assets/css/common/menu.css);
@import url(/src/Presentation/assets/fontawesome-free-6.7.1/css/all.min.css);
@import url(/src/Presentation/assets/css/common/header.css);
@import url(/src/Presentation/assets/css/common/footer.css);

$headerImageHeight: 874px;
$headerImageHeightWhenLoggedIn: 906px;
$btnRadius: 6px;
$freeTrialColor: #5e59ff;

* {
	padding: 0;
	margin: 0;
}

a {
	color: white;
	text-decoration: none;
	font-family: 'Sequel Sans Bold';
	font-size: 14px;
	font-weight: 400;
	line-height: 16.8px;
	letter-spacing: 0.1em;
	text-align: right;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	text-transform: uppercase;
}

.inner {
	display: flex;
	justify-content: space-between;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 32px;
}

body {
	&.logged-in {
		.sec-background {
			&::after {
				height: $headerImageHeightWhenLoggedIn;
			}
		}
	}
}

main {
	.sec-background {
		background-image: url(/src/Presentation/assets/pages/home/images/desktop_thumb.png);
		background-repeat: no-repeat;
		height: $headerImageHeight;
		background-position: center;

		&::after {
			content: '';
			height: $headerImageHeight;
			opacity: 0.5;
			background-color: black;
			width: 100%;
			position: absolute;
			top: 0;
		}
	}

	.sec-introduction {
		position: absolute;
		top: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: $headerImageHeight;
		align-items: center;
		color: white;
		text-align: center;
		justify-content: center;

		h1 {
			font-family: 'Sequel Sans Bold';
			font-size: 54px;
		}

		p {
			font-family: 'Public Sans';
			font-size: 28px;
			font-weight: 400;
			line-height: 39.2px;
			letter-spacing: -0.74px;
			text-align: center;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
		}

		.newsletter {
			margin-top: 48px;

			.email {
				outline: 0;
				border: none;
				border-radius: 5px;
				padding: 0 25px;
				width: 520px;
				height: 60px;
				font-family: 'Public Sans';
				font-size: 14px;
			}

			.btn-free-trial {
				align-items: center;
				display: inline-flex;
				color: white;
				font-family: 'Sequel Sans Bold';
				background-color: $freeTrialColor;
				border-radius: $btnRadius;
				padding: 22px 30px;
				border: none;
				outline: none;
				text-decoration: none;

				img {
					margin-left: 28px;
				}
			}
		}

		.extra-info {
			list-style-type: none;
			margin-top: 40px;
			padding: 0;
			display: flex;
			align-items: center;
			width: 814px;
			justify-content: space-between;
			max-width: 100%;

			i {
				margin-right: 8px;
			}

			span {
				font-family: 'Public Sans';
				font-size: 18px;
			}
		}
	}

	.sec-trusted-companies {
		max-width: 100%;
		width: 1370px;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 100%;
		margin: 90px auto;

		img {
			width: auto;
			height: 80px;

			&:not(:last-child) {
				margin-right: 60px;
			}
		}
	}

	.sec-coaches-feedbacks {
		margin-bottom: 140px;

		.title {
			font-family: 'Sequel Sans Bold';
			text-align: center;
			font-size: 36px;
			margin-bottom: 48px;
		}

		.slider-coaches-feedbacks {
			max-width: 100%;
			padding: 0 12px;

			.slider-item {
				display: flex;
				align-items: center;
				background-color: #f5f1ed;

				&:not(:last-child) {
					padding-right: 30px;
					margin-left: 15px;
				}

				&:nth-child(3n - 2) {
					.description {
						&::before {
							background-image: url('/src/Presentation/assets/pages/home/images/green-quote.png');
						}
					}
				}

				&:nth-child(3n - 1) {
					.description {
						&::before {
							background-image: url('/src/Presentation/assets/pages/home/images/blue-quote.png');
						}
					}
				}

				&:nth-child(3n - 3) {
					.description {
						&::before {
							background-image: url('/src/Presentation/assets/pages/home/images/black-quote.png');
						}
					}
				}

				.image-container {
					width: 50%;

					img {
						flex: 1;
					}
				}

				.description {
					flex: 1;
					background-color: white;
					border-radius: 4px;
					padding: 36px 20px;
					font-family: 'Public Sans';
					height: 250px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					&::before {
						content: '';
						display: inline-block;
						background-size: 38px 38px;
						width: 38px;
						height: 38px;
						margin-top: -55px;
						position: absolute;
					}

					.detail {
						margin-bottom: 20px;
						font-size: 22px;
					}

					.name {
						font-weight: bold;
						font-size: 16px;
					}

					.extra {
						font-size: 14px;

						.role {
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}
