@import url(/src/Presentation/assets/css/common/font.css);
@import url(/src/Presentation/assets/css/common/menu.css);
@import url(/src/Presentation/assets/fontawesome-free-6.7.1/css/all.min.css);
@import url(./header.css);
* {
  padding: 0;
  margin: 0;
}

main .sec-background {
  background-image: url(/src/Presentation/assets/pages/home/images/desktop_thumb.png);
  background-repeat: no-repeat;
  height: 874px;
  background-position: center;
}
main .sec-background::after {
  content: "";
  height: 874px;
  opacity: 0.5;
  background-color: black;
  width: 100%;
  position: absolute;
  top: 0;
}
main .sec-introduction {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 874px;
  align-items: center;
  color: white;
  text-align: center;
  justify-content: center;
}
main .sec-introduction h1 {
  font-family: "Sequel Sans Bold";
  font-size: 54px;
}
main .sec-introduction p {
  font-family: "Public Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 39.2px;
  letter-spacing: -0.74px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
main .sec-introduction .newsletter {
  margin-top: 48px;
}
main .sec-introduction .newsletter .email {
  outline: 0;
  border: none;
  border-radius: 5px;
  padding: 0 25px;
  width: 520px;
  height: 60px;
  font-family: "Public Sans";
  font-size: 14px;
}
main .sec-introduction .newsletter .btn-free-trial {
  align-items: center;
  display: inline-flex;
  color: white;
  font-family: "Sequel Sans Bold";
  background-color: #5e59ff;
  border-radius: 6px;
  padding: 18px 30px;
  border: none;
  outline: none;
  text-decoration: none;
}
main .sec-introduction .newsletter .btn-free-trial img {
  margin-left: 28px;
}
main .sec-introduction .extra-info {
  list-style-type: none;
  margin-top: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  width: 814px;
  justify-content: space-between;
  max-width: 100%;
}
main .sec-introduction .extra-info i {
  margin-right: 8px;
}
main .sec-introduction .extra-info span {
  font-family: "Public Sans";
  font-size: 18px;
}
main .sec-trusted-companies {
  max-width: 100%;
  width: 1370px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 90px auto;
}
main .sec-trusted-companies img {
  width: auto;
  height: 80px;
}
main .sec-trusted-companies img:not(:last-child) {
  margin-right: 60px;
}
main .sec-coaches-feedbacks {
  margin-bottom: 140px;
}
main .sec-coaches-feedbacks .title {
  font-family: "Sequel Sans Bold";
  text-align: center;
  font-size: 36px;
  margin-bottom: 48px;
}
main .sec-coaches-feedbacks .slider-coaches-feedbacks {
  max-width: 100%;
  padding: 0 12px;
}
main .sec-coaches-feedbacks .slider-coaches-feedbacks .slider-item {
  display: flex;
  align-items: center;
  background-color: #f5f1ed;
}
main .sec-coaches-feedbacks .slider-coaches-feedbacks .slider-item:not(:last-child) {
  padding-right: 30px;
  margin-left: 15px;
}
main .sec-coaches-feedbacks .slider-coaches-feedbacks .slider-item:nth-child(3n-2) .description::before {
  background-image: url("/src/Presentation/assets/pages/home/images/green-quote.png");
}
main .sec-coaches-feedbacks .slider-coaches-feedbacks .slider-item:nth-child(3n-1) .description::before {
  background-image: url("/src/Presentation/assets/pages/home/images/blue-quote.png");
}
main .sec-coaches-feedbacks .slider-coaches-feedbacks .slider-item:nth-child(3n-3) .description::before {
  background-image: url("/src/Presentation/assets/pages/home/images/black-quote.png");
}
main .sec-coaches-feedbacks .slider-coaches-feedbacks .slider-item .image-container {
  width: 50%;
}
main .sec-coaches-feedbacks .slider-coaches-feedbacks .slider-item .image-container img {
  flex: 1;
}
main .sec-coaches-feedbacks .slider-coaches-feedbacks .slider-item .description {
  flex: 1;
  background-color: white;
  border-radius: 4px;
  padding: 36px 20px;
  font-family: "Public Sans";
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .sec-coaches-feedbacks .slider-coaches-feedbacks .slider-item .description::before {
  content: "";
  display: inline-block;
  background-size: 38px 38px;
  width: 38px;
  height: 38px;
  margin-top: -55px;
  position: absolute;
}
main .sec-coaches-feedbacks .slider-coaches-feedbacks .slider-item .description .detail {
  margin-bottom: 20px;
  font-size: 22px;
}
main .sec-coaches-feedbacks .slider-coaches-feedbacks .slider-item .description .name {
  font-weight: bold;
  font-size: 16px;
}
main .sec-coaches-feedbacks .slider-coaches-feedbacks .slider-item .description .extra {
  font-size: 14px;
}
main .sec-coaches-feedbacks .slider-coaches-feedbacks .slider-item .description .extra .role {
  font-weight: bold;
}

footer {
  height: 140px;
  background-color: #f6f6f6;
}
footer .inner {
  height: 100%;
  align-items: center;
}
footer .social-networks a {
  text-decoration: none;
}
footer .social-networks a:not(:last-child) {
  margin-right: 24px;
}
footer .social-networks a i {
  color: black;
  font-size: 16px;
}